*, *:before, *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 90%;
  line-height: 1.2;
  background-color: #fff;
  letter-spacing: 0.02em;
}
@media (min-width: 32em) {
  body {
    font-size: 103%;
  }
}
@media (min-width: 54em) {
  body {
    font-size: 105%;
  }
}
@media (min-width: 65em) {
  body {
    font-size: 107.5%;
  }
}
@media (min-width: 75em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 91em) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 115em) {
  body {
    font-size: 120%;
  }
}
@media (min-width: 130em) {
  body {
    font-size: 125%;
  }
}

p {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
}

audio#likeAudio {
  display: none;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: green;
  opacity: 1;
  display: none;
  z-index: 9999;
  cursor: wait;
}

.overlay.blackout {
  background: black;
  cursor: none;
}

.overlay.blackout .loading-spinner {
  display: none;
}

.feed .loading-spinner {
  position: static;
  display: block;
  margin: 1.5em auto 1em;
}

div.page {
  position: relative;
  height: 100%;
  width: 100%;
  background: #e9ebee;
}

div.viewport-right {
  z-index: 1;
  position: relative;
  background: #ff5c05;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-left: solid 1px rgba(0, 0, 0, .2);
  transform: translateX(100%);
  width: 100%;
  transition: transform .2s ease;
  z-index: 12;
  .slide-out div.viewport-right {
    transform: translateX(0);
  }
}

@media screen and (min-width: 700px) {
    div.page {
      width: 70%;
    }
    div.viewport-right {
      width: 30%;
      transform: translateX(0);
    }
}


div.notes {
  height: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5em;
}
div.notes .wrap {
  text-align: right;
  font-size: 20pt;
  font:Times;
  font-color:lightblue;
}
div.notes span, div.notes a {
  display: block;
  font-size: 0.9em;
}

section.chat {
  width: 100%;
  height: calc(100% - 4.5em);
}

.jewelCount {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0px 0px #fa3e3e;
  }
  50% {
    box-shadow: 0 0 24px 2px #fa3e3e;

  }
  100% {
    box-shadow: 0 0 0px 0px #fa3e3e;
  }
}

.jewelCount .number.pulse {
  animation: pulse 0.3s ease;
}


.jewelCount .number {
  background-color: #ccc;
  border-radius: 2px;
  color: #6d6d6d;
  padding: 1px 3px;
  background-clip: padding-box;
  display: inline-block;
  font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.3;
  min-height: 13px;
  letter-spacing: -0.01em;
}

.jewelCount .number.active {
  background-color: #fa3e3e;
  color: #fff;
}


div.page .feed {
  padding: 4.5em 2% 1.5em;
  user-select: none;
}

div.page .feed section {
  margin-bottom: .8rem;
  position: relative;
  background: beige;
  padding: 2rem;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.07);
  z-index: 10;
  cursor: pointer;
  transition: border .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

div.page .feed section:hover {
  border: solid 1px rgba(0, 0, 0, 0.2);
}

div.page .feed section iframe,
div.page .feed section img {
  margin: auto;
  display: block;
}

div.page section.splash {
  width: inherit;
  display: flex;
  background: olive;
  height: 3em;
  padding: .5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
}

div.page section.splash .jewelCount {
  position: static;
}

div.page section.splash .logo {
  height: 2.5em;
}

div.page section.splash .like:hover {
  text-decoration: underline;
}

div.page section.splash .like.active {
  color: #5890ff;
}

div.page section.coffee {
  text-align: center;
}

div.page section.coffee img {
  width: 10em;
  height: auto;
}

div.page section.empathy img {
  width: 100%;
}

div.page section.profiles {
  text-transform: uppercase;
}

div.page section.profiles .words {
  height: 4em;
  width: 22em;
  margin: auto;
  padding: 0 1em;
  display: flex;
  align-items: center;
  background: black;
  color: white;
}

div.page section.profiles .profiles__word {
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

div.page section.profiles .adj {
  margin-right: 1em;
}

div.page section.friendly {
  -webkit-perspective: 800px;
  padding: 0;
  background: none;
  width: 100%;
  height: 4.5em;
  cursor: pointer;
}

div.page section.friendly .card {
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
}

div.page section.friendly .card.flip {
  transform: rotatex(-180deg);
}

div.page section.friendly > div {
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
}

div.page section.friendly .face {
  height: 4.5em;
  padding: 0 1em;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
}

div.page section.friendly .back {
  transform: rotatex(-180deg);
  backface-visibility: hidden;
}

div.page section.pokemon {
  font-size: .8em;
  display: flex;
  align-items: center;
}

div.page section.pokemon img {
  width: 16em;
  height: auto;
  margin-right: 1em;
}

.point {
  font-size: 1.4em;
  font-style: italic;
}

.paper {
  background: pink;
  padding: 2rem;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.hover, div.page section.chat {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16pt;
  font-color: #ff0554;
  background-color:#05ff15;
}



@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1.45s;
  -moz-animation-duration: 1.45s;
  animation-duration: 1.45s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 40px;
  width: 40px;
  border: 8px solid #FFF;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}
